.u-section-1 .u-sheet-1 {
  min-height: 922px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 54px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 0;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 90px 20px 19px 0;
}

.u-section-1 .u-text-1 {
  font-family: "IM FELL English";
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-family: "IM FELL English";
  margin: 0;
}

.u-section-1 .u-list-1 {
  width: 850px;
  margin: 29px auto 16px 132px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 344px;
  --gap: 20px;
  grid-auto-columns: calc(33.3333% - 13.3333px);
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
  --color-var: #08137d80;
}

.u-section-1 .u-container-layout-2 {
  padding: 26px 30px;
}

.u-section-1 .u-icon-1 {
  height: 67px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 14px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 37px auto 0 41px;
}

.u-section-1 .u-list-item-2 {
  --color-var: #08137d80;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-3 {
  padding: 26px 30px;
}

.u-section-1 .u-icon-2 {
  height: 67px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 14px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 37px auto 0 41px;
}

.u-section-1 .u-list-item-3 {
  --color-var: #08137d80;
  --radius: 30px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-1 .u-container-layout-4 {
  padding: 26px 30px;
}

.u-section-1 .u-icon-3 {
  height: 67px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: 14px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 37px auto 0 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 90px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.333333333333334px));
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 874px;
    grid-auto-columns: calc(50% - 10px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 592px;
}

.u-section-2 .u-shape-1 {
  height: 330px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 131px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -292px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 12px auto -345px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 680px;
  background-image: none;
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 50px 374px 0 29px;
}

.u-section-2 .u-text-2 {
  margin: 20px 32px 0 29px;
}

.u-section-2 .u-line-1 {
  width: 451px;
  transform-origin: left center;
  margin: 37px auto 0 29px;
}

.u-section-2 .u-icon-1 {
  width: 45px;
  height: 45px;
  background-image: none;
  margin: 25px auto 0 29px;
  padding: 11px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -33px auto 0 99px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  margin: 25px auto 0 100px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-accordion-1 {
  margin-bottom: 0;
  margin-top: 58px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  --active-color-var: #08137d80;
  --color-var: #08137d80;
  --hover-color-var: #032692;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-2 .u-icon-2 {
  height: 17px;
  width: 17px;
  --color-var: #08137d80;
  --hover-color-var: #08137d;
  --active-color-var: #08137d;
  --text-color-var: #08137d;
  background-image: linear-gradient(#478ac9, #070b34);
  padding: 3px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
  --color-var: #08137d4d;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  --active-color-var: #08137d80;
  --color-var: #08137d80;
  --hover-color-var: #032692;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-2 .u-icon-3 {
  height: 17px;
  width: 17px;
  --color-var: #08137d80;
  --hover-color-var: #08137d;
  --active-color-var: #08137d;
  --text-color-var: #08137d;
  background-image: linear-gradient(#478ac9, #070b34);
  padding: 3px;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
  --color-var: #08137d4d;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  --active-color-var: #08137d80;
  --color-var: #08137d80;
  --hover-color-var: #032692;
  --radius: 30px;
  padding: 25px 30px;
}

.u-section-2 .u-icon-4 {
  height: 17px;
  width: 17px;
  --color-var: #08137d80;
  --hover-color-var: #08137d;
  --active-color-var: #08137d;
  --text-color-var: #08137d;
  background-image: linear-gradient(#478ac9, #070b34);
  padding: 3px;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
  --color-var: #08137d4d;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 473px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 561px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 203px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 12px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 5px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 124px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 78px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
}

.u-block-5f52-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5f52-68:not([data-block-selected]):not([data-cell-selected]).u-block-5f52-68:not([data-block-selected]):not([data-cell-selected]).u-block-5f52-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-5f52-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5f52-74:not([data-block-selected]):not([data-cell-selected]).u-block-5f52-74:not([data-block-selected]):not([data-cell-selected]).u-block-5f52-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-5f52-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5f52-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5f52-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5f52-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5f52-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5f52-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5f52-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5f52-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5f52-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5f52-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5f52-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5f52-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5f52-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5f52-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-5f52-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-5f52-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5f52-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-5f52-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-5f52-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-5f52-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5f52-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5f52-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-5f52-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-2 .u-shape-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-2 .u-shape-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-2 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-2 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-2 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 549px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 376px;
  margin-bottom: 20px;
  background-image: none;
  --color-var: #0119688c;
}

.u-section-3 .u-layout-cell-1 {
  --color-var: #08137d80;
  min-height: 153px;
  --radius: 30px;
}

.u-section-3 .u-container-layout-1 {
  padding: 25px 30px 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 0 auto 0 48px;
}

.u-section-3 .u-social-icons-1 {
  height: 48px;
  width: 103px;
  margin: 18px 933px 0 74px;
}

.u-section-3 .u-icon-1 {
  height: 0;
}

.u-section-3 .u-icon-2 {
  height: 0;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: 807px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 171px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: 587px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-social-icons-1 {
    margin-right: 427px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-social-icons-1 {
    margin-right: 227px;
  }
}